h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-decoration: none;
    color: #F79817;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: darkslategray;
}

footer * {
    text-decoration: none;
}

.items_emplacement {
    display: flex;
    flex-direction: row;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: darkslategray;
}