
@font-face {
    font-family: "Roboto", sans-serif;
    src: ('../../fonts/Roboto-Light.ttf') format('truetype');
}

html * {
    font-family: "Roboto";
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
}

header div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cat_button {
    display: flex;
    gap: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cat_list {
    display: none;
    list-style-type: none;
    padding: 0;
}

.cat_list li {
    cursor: pointer;
    margin-bottom: 5px;
}

.search_zone {
    display: flex;
    max-height: fit-content;
    align-items: center;
    border: none;
}

.search_zone input {
    min-height: fit-content;
    border: none;
}

.search_zone i {
    display: flex;
    background-color: #0165fc;
    color: white;
    min-height: 30px;
    min-width: 30px;
    border-radius: 0 10px 10px 0;
    border: none;
    justify-content: center;
    align-items: center;
}